body{
    background-color:  #111;
}
.container{
    width: 1400px;
    height: 800px;

    margin: 0px auto;

    
    
    
}

.title-section{
    /* text-align: center; */
   
}
.title-section h1{
    position: absolute;   
    font-size: 56px;
    font-weight: 900!important;
    text-transform: uppercase;
    margin: 0;
    color: white;
    top: 10px;
    left: 150px;
   
    


}
.title-section span{
    
}
.title-bg{
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: .7;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    color: hsla(0,0%,100%,.07);
    
    
}
.col-12{
    color: white;
    margin-top: 20px;

}
.col-12 p{
    margin-top: 20px;
}
.address i{
    margin-top: 30px;
    
}
.icon{
    left: 0;
    font-size: 33px;
    color: #ffb400;
    
}
.address p{
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
}