body{
    font-family: "Raleway", sans-serif;
}


#services{
    background-color: lightgray;
    width: 1420px;
    height: 1200px;
    margin: 0 auto;

}
.service-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
}
.span p{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 15px;
}
.service-item{
    border: 1px solid gray;
    min-height: 200px;
    margin-top: 20px;
    margin: 20px;
    height: 450px;
    width: 300px;
    background-color: white;
}
.icon i{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 10px;
}
.service-item h5{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-style: normal;
}
.service-item p{
    display: flex;
    justify-content: center;
    margin:20px;
    font-size: 20pt;
}
.button a {
    text-decoration: none;
    border: 1px solid #4586FF;
    background-color: #4586FF ;
    color: white;
    border-radius: 3pt;
    width: 150px;
    display: flex;
    justify-content: center;
}