.container {
    width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
#info {
    background-color: #f3f4f7;
}

.info-contact,
.info-social {
    display: flex;
}

.info-contact-element,
.info-social-element {
    margin-right: 20px;
}
.info-contact-element i,
.info-social-element span {
    color: #4eaf4e;
}

.info-social-element i {
    margin: 0px 5px;
}

.info-contact-element i {
    margin-right: 10px;
}
.element i{
    color: red;

}