.container{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}



.item{
    width: 400px;
    height: 500px;
    border: 1px solid red;
    text-align: center;
    
}
@keyframes image {
    from {top: 100%;}
    to { bottom: 0%;}


}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: image ;
    animation-duration: 4s;
    animation-direction: reverse;
    
}
